%% vi: set ft=erlang :
[

 {rabbit, [
 {log_levels, [{connection, debug}, {channel, info}]},
 {ssl_listeners, [5671]},
           {ssl_options, [{cacertfile,"/usr/share/ca-certificates/mozilla/thawte_Primary_Root_CA.crt"},
                          {certfile,  "/etc/sensu/ssl/cert.pem"},
                          {keyfile,   "/etc/sensu/ssl/key.pem"},
                          {versions, ['tlsv1.2', 'tlsv1.1', tlsv1]}
                         ]}
 ]
 }

].
